REACT_APP_CLIENT_ID=f0ba86a7-a739-4977-b9ba-1f1c1269f219
REACT_APP_TENANT_ID=06d5c541-26b2-4dc8-ac6f-eeba90783202
REACT_APP_AUTHORITY=https://login.microsoftonline.com/06d5c541-26b2-4dc8-ac6f-eeba90783202
REACT_APP_SHAREPOINT_SITE=https://sarasanalytics.sharepoint.com/sites/training-library